.pic{
    width: 80px;
    height:80px;
    margin: 20px auto;
    border-radius: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px #26a2ff;
}

.field{
    width: 90%;
    margin: 0 auto;
}

.but{
    margin: 20px auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tag{
    width:100vw;
    height:150px;
    background-color: #fff;
    border: 1px solid #999;
    margin:20px auto 20px;
}

.tag-title{
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-bottom:15px;
    padding-top: 10px;
}

.tag-items{
    display: flex;
    flex-wrap: wrap;
}

.tag-item{
    margin: 5px 10px;
    padding: 5px 10px;
    border: 1px #06c160 solid;
    border-radius:10px;
}